/*
Background green: #ECEFEA
Menu bar green:#747F6F
Logo red: #D47667
Logo blue: #5E7D87
*/

body {
  background-color: rgb(81,103,71);
  padding: 1em;
  font-family: Arial, “Helvetica Neue”, Helvetica, sans-serif;
}

.container {
  background-color: white;
  padding: 1em 2em;
  margin: auto;
  min-width: 600px;
  width: 90%;
  max-width: 1024px;
  border: 1px solid black;
}

#hd {
  font-size: 150%;
  font-weight: bold;
}

#bd {
  text-align: right;
  background: url(/images/soldier.jpg) no-repeat;
}

#content {
  text-align: left;
  min-height: 529px;
}

.sign_up { text-align: right; margin-top: 0.75em; }

.button {
  border: 3px solid rgb(131,152,81);
  font-weight: bold;
  text-decoration: none;
  color: rgb(81,103,71);
  background-color: rgb(170,197,107);
  padding: 0.5em 1em;
}

.navigation {
  border: 3px solid rgb(131,152,81);
  padding: 0;
  margin: 0;
  background-color: rgb(170,197,107);
  list-style: none;
  text-align: center;
  margin-bottom: 2em;
}

.navigation li {
  display: inline;
}

.navigation a {
  font-size: 150%;
  font-weight: bold;
  text-decoration: none;
  color: rgb(81,103,71);
  padding: 0.5em;
}

a, a:visited {
  color: rgb(81,103,71);
}

a:hover {
  color: brown;
}

a.current, a.current:hover a.current:visited, a.current:active {
  color: black;
}

#ft {
  margin-top: 2em;
  text-align: right;
  color: rgb(131,152,81);
}

#content img {
  float: right;
  margin: 1em;
  padding: 1em;
  border: 1px solid rgb(81,103,71);
}

form label {
  display: block;
  float: left;
  clear: left;
  width: 13em;
}

form input[type="text"], form textarea {
  margin-bottom: 1em;
  width: 25em;
}

form fieldset {
  clear: left;
}
