/*
Background green: #ECEFEA
Menu bar green:#747F6F
Logo red: #D47667
Logo blue: #5E7D87
*/

body {
  background-color: #5D7B85;
  padding: 1em;
  font-family: Futura;
}

.container {
  background-color: white;
  padding: 1em 2em;
  margin: auto;
  min-width: 860px;
  width: 90%;
  max-width: 1024px;
  border: 1px solid black;
}

#hd {
  font-size: 150%;
  font-weight: bold;
}

#bd {
  text-align: right;
  background: url(/images/soldier.jpg) no-repeat;
  background-position: 1em 2em;
}

#content {
  text-align: left;
  min-height: 529px;
  margin-left: 290px;
  font-size: 12pt;
}

.sign_up { text-align: right; margin-top: 0.75em; }

.button {
  border: 3px solid rgb(92,79,61);
  font-weight: bold;
  text-decoration: none;
  background-color: rgb(192,169,112);
  padding: 0.5em 1em;
}

.navigation {
  font-family: Calibri;
  font-size: 20pt;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  margin-top: 1em;
}

#copy {
  background-color: #FFFFFF;
  padding: 1em .5em .5em 1em;
}

.navigation li {
  display: inline;
}

a, a:visited, a:hover, a:active {
  color: #D47565;
}

.navigation a {
  font-weight: bold;
  text-decoration: none;
  padding: 0.5em;
}

a:hover {
  color: brown;
}

.navigation a.current, .navigation a.current:hover, .navigation a.current:visited, .navigation a.current:active {
  color: black;
}

#ft {
  margin-top: 2em;
  text-align: right;
  color: rgb(131,152,81);
}

#content img {
  float: right;
  margin: 0 1em;
  padding: 1em;
  border: 1px solid black;
}

#content #buttons {
  text-align: center;
  margin-top: 1em;
}

#content #buttons img {
  border: 0;
  float: none;
  margin: 0;
  border: 0;
}

form label {
  display: block;
  float: left;
  clear: left;
  width: 13em;
}

form input[type="text"], form select, form textarea {
  margin-bottom: 1em;
  width: 25em;
}

form fieldset {
  clear: left;
}
.welcome {
  text-align: center;
  font-size: 14pt;
  color: #5D7B85;
  font-weight: bolder;
  margin-top: -1em;
  margin-bottom: 1em;
}

#xmas_party {
  background-color: #D47565;
  padding: 1em;
}

#fc_party {
  background-color: #5D7B85;
  margin-left: 2em;
  padding: 1em 1em 3.5em 1em;
}